  body {
   margin: 0 auto;
   font-family: 'Lato', sans-serif;
 }
 
//   .container {
//    height: 2000px;
//    margin: 0 auto;
//  }

  
  header {
  margin: 0 auto;
  height: 35px;
  background: rgb(245, 245, 245);
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
  margin-left: 100px;
  font-weight: bold;
  position: static;
    
  }

  .headerbutton {
  margin-right: 100px;
  padding: 5px;
  background-color: rgb(0, 89, 255);
  color: white;
  border-style: none;
  text-decoration: none;
  border-radius: 5px;
}
  }


 // TOP SECTION 


  .top-section {
  width: 100%;
  height: 400px;
  background-image: url("https://i.ibb.co/VTBkNVh/bg-masthead.jpg");
  background-size: 100% 100%;
  
  
      

  h1  {
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}

   
 .input {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
    
    
 .input input {
  padding: 5px;
}

.email-button {
padding: 5px;
padding-left: 15px;
padding-right: 15px;
background-color: rgb(0, 89, 255);
color: white;
border-style: none;
text-decoration: none;
border-radius: 5px;
}
 
  }

  
 // SECOND SECTION 

 .second-section {
   width: 100%;
   background-color: rgb(245, 245, 245);
   height: 300px;
   margin: 0;
   display: flex;
   justify-content: space-around;
  

.box1, .box2, .box3 {
  justify-content: center;
  margin: auto 0;
  display: table-row;
  
  }

.fa-desktop, .fa-folder, .fa-check-circle {
  display: flex;
  justify-content: center;
  font-size: 50px;
  
  color: rgb(0, 89, 255);
}

  .box1 h3, .box2 h3, .box3 h3 {
    display: flex;
    justify-content: center;
    
  }


 .box1 p, .box2 p, .box3 p {
   font-style: italic;
   margin: 0 auto;
   text-align: center;
   
   
   
  
  
 }


}
// MAIN SECTION 

.main-section {
  width: 100%;
  height: 1200px;
} 
  
 //ROW 1 VAZIUOJAAAAAAAAAAM
  
.row1 {
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
.row1text {
  flex-grow: 1;
  display: table-row;
  margin: auto 0;
  justify-content: center;
  text-align: left;
  margin-left: 50px;
    } 
  
.row1image {
  background-image: url("https://i.ibb.co/X2mGyPq/bg-showcase-1-min.jpg");
  width: 760px;
  height: 400px;
  object-fit: fit;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  
  }

.row1 p {
  text-align: center;
  margin: auto 0;
}

.row1text h3 {
    font-size: 30px;
}

}


// ROW 2

.row2 {
  height: 400px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

.row2text {
    flex-grow: 1;
    display: table-row;
    margin: auto 0;
    justify-content: center;
    text-align: left;
    margin-left: 50px;
}
.row2image {
  background-image: url("https://i.ibb.co/k8cxmmt/bg-showcase-2-min.jpg");
  width: 760px;
  height: 400px;
  object-fit: fit;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  
  }

.row2 p {
    text-align: center;
    margin: auto 0;
  }
  
.row2text h3 {
      font-size: 30px;
  }
 
}

// ROW 3 KAZKAIP VISKA EINA TRIGUBAI JAUCIU SUMAZINT :D PACHEKINK RYTOJ 


.row3 {
  height: 400px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
.row3text {
flex-grow: 1;
display: table-row;
margin: auto 0;
justify-content: center;
text-align: left;
margin-left: 50px;
  } 

.row3image {
background-image: url("https://i.ibb.co/r0zSfWw/bg-showcase-3-min.jpg");
width: 760px;
height: 400px;
object-fit: fit;
background-repeat: no-repeat;
background-size: 100% 100%;
display: flex;
justify-content: space-between;

}

.row3 p {
text-align: center;
margin: auto 0;
}

.row3text h3 {
  font-size: 30px;
}

}



// THIRD SECTION 



.third-section {
  width: 100%;
  background-color: rgb(245, 245, 245);
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
 


.person1, .person2, .person3 {
 justify-content: center;
 margin: auto 0;
 display: table-row;
 
}

 .person1 h3, .person2 h3, .person3 h3 {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   text-align: left;
   padding-top: 20px;
   padding-right: 150px;
 }

 .person1 img, .person2 img, .person3 img  {
  
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

 .person1 p, .person2 p, .person3 p {
  font-style: italic;
  text-align: left;
 }


h2 {
position: absolute; 
font-weight: bold; 
}



}


// FOuRTH SECTION

.fourth-section {
  width: 100%;
  height: 300px;
  background-image: url("https://i.ibb.co/VTBkNVh/bg-masthead.jpg");
  background-size: 100% 100%;
}


.fourth-section h3  {
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}

   
 .input {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
    
    
 .input input {
  padding: 5px;
}

.email-button {
padding: 5px;
padding-left: 15px;
padding-right: 15px;
background-color: rgb(0, 89, 255);
color: white;
border-style: none;
text-decoration: none;
border-radius: 5px;
}
 
  // FOOTER 

  footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 150px;
  }

  .list {
    display: table-column;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    margin-left: 120px;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    text-align: center;
  
  }

  ul li {
  float: left;
  list-style: none;
  padding: 5px;
  color:  rgb(0, 89, 255);
}

  .list p {
  text-align: center;
}

  .socialmedia {
  width: 360px;
  height: 85px;
  word-spacing: 20px;
  margin-top: 50px;
  color: rgb(0, 89, 255);
  font-size: 30px;
  
}

.footertext {
  margin-left: 15px;
}
 
// MEDIA QUERIES

@media screen and (max-width: 400px) {
  header {
    width: 100%;
    
  }

  .top-section {
    height: 600px;
  }


  h1 p {
    padding: 50px;
  }



 .email-button {
   width: 48%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   
   
 }
 
  .email-button-text {
    margin: 0 auto;
    text-align: center;
  }
  
    

  .top-section {
    display: flex;
    flex-direction: column;
    
  }
  
  .input input {
    display: flex; 
    margin: 0 auto;
    width: 45%;
    
    
    
      
  }
   
  .second-section {
    display: flex;
    flex-direction: column;
    height: 700px;
  }

 .main-section {
   height: 100%;
 }


 .row1 {
   display: flex;
   flex-direction: column-reverse;
   height: 800px;
 }

 .row1image {
   max-width: 100%;
   height: 500px;
 }
 
 .row1text {
  padding: 50px;
 }

 .row2 {
   display: flex;
   flex-direction: column;
   height: 800px;
 }

 .row2image {
   max-width: 100%;
   height: 500px;
 }

 .row2text {
   padding: 50px;
 }

 .row3 {
   display: flex;
   flex-direction: column-reverse;
   height: 800px;
 }

 .row3image {
   max-width: 100%;
   height: 500px;
 }

 .row3text {
   padding: 50px;
 }

.fourth-section h3 {
  padding: 50px;
}
 





  .third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
  }

  .third-section h2 {
    position: inherit;
  }

  .fourth-section {
    display: flex;
    flex-direction: column;
    height: 400px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
  }

  .list {
    display: flex;
    flex-direction: row;
    margin: auto 0;
  }

  
    
  footer {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .footertext {
    margin-top: 40px;
  }

  .socialmedia {
    padding: 0 auto;
    margin: 0 auto;
    text-align: center;
    
  }


}



